:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("../setup/assets/font/IRANSansWeb_Bold.eot");
  src: url("../setup/assets/font/IRANSansWeb_Bold.eot")
      format("mbedded-opentype"),
    url("../setup/assets/font/IRANSansWeb_Bold.woff") format("woff"),
    url("../setup/assets/font/IRANSansWeb_Bold.woff2") format("woff2");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../setup/assets/font/IRANSansWeb_Medium.eot");
  src: url("../setup/assets/font/IRANSansWeb_Medium.eot")
      format("mbedded-opentype"),
    url("../setup/assets/font/IRANSansWeb_Medium.woff") format("woff"),
    url("../setup/assets/font/IRANSansWeb_Medium.woff2") format("woff2");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("../setup/assets/font/IRANSansWeb.eot");
  src: url("../setup/assets/font/IRANSansWeb.eot") format("mbedded-opentype"),
    url("../setup/assets/font/IRANSansWeb.woff") format("woff"),
    url("../setup/assets/font/IRANSansWeb.woff2") format("woff2");
}
html,
body {
  direction: rtl;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "IRANSans" !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
